@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Raleway:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-navy: #1A2B4C;
  --color-accent: #F5A623;

  --font-mono: "IBM Plex Mono", monospace;
  --font-raleway: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}